
body{
    background: rgb(212, 62, 16);
    width: 100%;
    margin: 0;
}

header{
    font: normal 18pt Arial;
    color: white;
    width: 50%;
    /* background-color: violet; */
    text-align: center;
    margin: auto;
    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.568);
}

section{
    background: #111111;
    font: normal 12pt Arial;
    padding: 15px;
    border-radius: 15px;
    width: 50%;
    margin: auto;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.568);
    color: whitesmoke;
    text-shadow: 1px 1px 2px rgb(255, 136, 0);
    text-align: center;
}

footer{
    font: normal 11pt Arial;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    /* background-color: violet; */
    text-shadow: 5px 3px 3px #111111;
    width: 90%;
    font-style: italic;
}
p#botao{
    
    text-align: center;
    padding: 2px;
}
input#botaoid{
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 3px rgb(212, 62, 16);
    text-align: center;
    outline: none;
}
